<div class="container">
 <div class="row m-5">
  <h4 class="mt-5">リスト一覧</h4>
 </div>
 
 <div class="row justify-content-center">
  <table class="table table-borderless border border-dark col-6">
   <thead class="bg-secondary">
    <tr>
     <th><%= link_to "+  リストを追加する",new_list_path,class:'text-white' %></th>
     <th></th>
    </tr>
   </thead>
   <tbody>
    <% @lists.each do |list| %>
     <tr>
      <td>
       <%= link_to index_tasks_path(list.id) do %>
        <%= list.name %>
       <% end %>
      </td>
      <td><%= link_to "削除",list_path(list.id),method: :delete %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>