<div>
 <%= month_calendar events: @events do |date,events| %>
  <%= date.day %>
  
  <% events.first(3).each do |event| %>
   <div>
    <%= link_to edit_task_path(event.id) do %>
     <%= event.name %>
    <% end %>
   </div>
  <% end %>
 <% end %>
</div>