<div class="container">
 <div class="row justify-content-center mt-5">
  <p class="border border-white bg-success px-5" style="font-size: 50px;">Amana</p>
 </div>
 
 <div class="row justify-content-center m-5">
  <ul class="border pl-1" style="list-style: none; background-color: black;">
   <li class="p-3"><%= link_to "ログイン",new_user_session_path,class:"m-5 text-white" %></li>
   <li class="p-3"><%= link_to "新規登録",new_user_registration_path,class:"m-5 text-white" %></li>
  </ul>
 </div>
</div>