<div class="container">
 <div class="row justify-content-center mt-5">
  <p class="box box-text rounded px-5" style="font-size: 50px;">Amana</p>
 </div>
 
 <div class="row home justify-content-center m-5">
  <ul class="box pl-1" style="list-style: none;">
   <li class="p-3"><%= link_to "ログイン",new_user_session_path,class:"mx-5 btn btn-outline-info" %></li>
   <li class="p-3"><%= link_to "新規登録",new_user_registration_path,class:"mx-5 btn btn-outline-info" %></li>
  </ul>
 </div>
</div>