@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  background-color: #FFCC00;
}

.logo {
  width: 300px;
  height: 150px;
  background-image:image-url('Amana2.png');
  background-size: cover;
  background-position: right;
}

body {
  background-color: #FFFF99;
}

.form-control {
  background-color: #FFFFCC;
  border: 2px solid #FFCC00;
}

.garbage {
  color: red;
}

.box {
  background-color: #FFFFCC;
  border: 2px solid #FFCC00;
}

.box-text {
  color: #800000;
}

.info {
  color: #0099FF;
}

.simple-calendar {
  .day {}

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {
    background-color: #CCFFFF;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #BBBBBB;
  }
  .next-month {
    background-color: #BBBBBB;
  }
  .current-month {}

  .has-events {}
  
  table {
    border: 2px solid #FFCC00;
  }
  .calendar-title {
    color: #800000;
  }
}