@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


body {
  background-color: #000033;
}

.simple-calendar {
  .day {}

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {
    background-color: #004400;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #444;
  }
  .next-month {
    background-color: #444;
  }
  .current-month {}

  .has-events {}
}

.form-control {
  background-color: black;
  color: white;
}

.garbage {
  color: red;
}