@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header {
  background-color: #FFCC00;
}

.logo {
  width: 300px;
  height: 150px;
  background-image:url("../../assets/images/Amana2.png");
  background-size: cover;
  background-position: right;
}

body {
  background-color: #FFFF99;
}

.form-control {
  background-color: #FFFFCC;
  border: 2px solid #FFCC00;
}

.garbage {
  color: red;
}

.box {
  background-color: #FFFFCC;
  border: 2px solid #FFCC00;
}

.box-text {
  color: #800000;
}

.title-text {
  background-color: #FFFFCC;
  border: 2px solid #FFCC00;
}

.info {
  color: #0099FF;
}

.simple-calendar {
  .day {}

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {
    background-color: #CCFFFF;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #BBBBBB;
  }
  .next-month {
    background-color: #BBBBBB;
  }
  .current-month {}

  .has-events {}
  
  table {
    border: 2px solid #FFCC00;
  }
  .calendar-title {
    color: #800000;
  }
}

@media screen and (max-width:425px) {
  .row {
    display: block;
  }
  
  .box {
    width: 90%;
    margin: 50px auto !important;
    text-align: center;
  }
  
  tr {
    margin-bottom: 50px;
  }
  
  .form-cell {
    display: block;
    padding: 0 !important;
    width: 90%;
    margin: 0 auto;
  }
  
  .title-text {
    height: 100%;
    border-radius: 0rem !important;
    padding: 0 !important;
    margin: 20px 0 0 0 !important;
  }
  
  .form-control {
    border-top: none;
    background-color: #FFFFFF;
  }
  
  .btn {
    margin: 10px 0;
  }
  
  .text-btn {
    text-align: center;
  }
  
  .form-inline {
    display: block;
  }
  
  .point {
    margin: 0 auto !important;
  }
}